<div class="devise">
<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">

                        <h2 class="form-header-title">ログイン</h2><br>
                    <div class="form-body">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputEmail"></label>
                          <%= f.email_field :email, autofocus: true, class: "form-control", id:"inputEmail", placeholder:"メールアドレス"%>
                          <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-icon">
                          <label class="control-label sr-only" for="inputEmail"></label>
                          <%= f.password_field :password, autcomplete: "current-password",  class: "form-control", id:"inputmail", palaceholder:"パスワード" %>
                        </div><br>
                        <%= f.submit "サインイン", class: "btn btn-primary" %>
                      <% end %>

                    </div>
          </div>
          </div>
        </div>
    </div>
</section>
</div>
